.antForm {
    margin-top: 5vh;
    width: 800px;
}

.antEditor {
    justify-content: flex-end;
}

.antBtnPrimary {
    color: #171718 !important;
    border-radius: 8px;
    border-color: #f9ca2a !important;
    background: #f9ca2a !important;
}
