.antForm {
    width: 800px;
}

.antEditor {
    justify-content: flex-end;
}

.antBtnPrimary {
    color: #171718 !important;
    border-radius: 8px;
    border-color: #f9ca2a !important;
    background: #f9ca2a !important;
}

.my2 {
    margin: 0 20px;
    border-radius: 8px;
}
