@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@600;800&display=swap');

* {
    font-family: 'Raleway' !important;
    font-weight: 600;
}

.ant-layout-header {
    height: 10vh !important;
}

.ant-layout-content {
    height: 90vh !important;
}

.ant-input-focused, .ant-input:focus {
    border-color: #efe318 !important;
    box-shadow: 0 0 0 2px rgb(239 227 24 / 20%);
}

.ant-input:hover {
    border-color: #efe318 !important;
}

.ant-input-affix-wrapper:not(.ant-input-affix-wrapper-disabled):hover {
    border-color: #efe318 !important;
}

.ant-input-affix-wrapper-focused, .ant-input-affix-wrapper:focus {
    border-color: #efe318 !important;
    box-shadow: 0 0 0 2px rgb(239 227 24 / 20%);
}

.antBtnPrimaryYellow {
    color: #171718 !important;
    border-radius: 8px;
    border-color: #efe318 !important;
    background: #efe318 !important;
}
